.App {
  margin: 0 auto;
  height: 80vh;
  width: 80vw;
  position: relative;
}

.list-container li {
  text-decoration: none;
  list-style: none;
  border-bottom: 1px solid gray;
  padding: 10px 0px;
}

.list-container {
  padding: 0;
  margin: 0;
  text-align: start;
}

.list-container li .item-text {
  margin-right: 10px;
  display: inline-block;
  width: calc(100% - 25px);
  padding: 0;
  margin: 0;
  text-align: start;
}
